# Proceso de Visualización de Datos

En este notebook se tomará el set de datos obtenido tras el proceso de **`Data Wrangling`** y con el se mostrarán ejemplos de **`Visualización de Datos`** con librerías de Python.

## Preparación y Herramientas necesarias
Lo primero que hay que realizar es la instalación de **openpyxl** (antiguamente conocido como **xlrd**) que es un módulo que **pandas** requiere para leer archivos Excel.

In [15]:
%pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\cerveza\programasc\anaconda3\lib\site-packages (3.0.9)
Requirement already satisfied: et-xmlfile in c:\users\cerveza\programasc\anaconda3\lib\site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

A continuación, se procederá a cargar los dos módulos claves para hacer análisis de datos **pandas** y
 **numpy**.

In [16]:
import numpy as np  # util para computación científica en Python
import pandas as pd # biblioteca que contienen la estructura de datos de uso principal

Ahora, se carga el conjunto de datos con los datos del excel usando el método de **pandas** `read_csv`.

In [17]:
path = "Datos_procesados.csv"
df_can = pd.read_csv(path, header = 0)

# df_can = pd.read_excel(
#     'Datos_procesados.csv',
#     sheet_name='datos',
#     skiprows=range(20),
#     skipfooter=2)

print('Datos leídos y cargados en un dataframe de pandas!')

Datos leídos y cargados en un dataframe de pandas!

Mostramos las primeras 5 filas del conjunto de datos usando la función `head()` para ver que todo está bien.

In [18]:
df_can.head()

,Unnamed: 0,id,timestamp,pmv,ppd,co2,pm25,pm10,temp,hr,...,temp(K),pm25-clasificacion,disconformidad-19%,disconformidad-20%,disconformidad-21%,disconformidad-22%,disconformidad-19%.1,disconformidad-20%.1,disconformidad-21%.1,disconformidad-22%.1
0,0,3909814,2022-04-28 15:40:00,0.88,21.0,1.0,0.0,-1.0,27.3,50.0,...,300.45,Bajo,0,0,1,0,0,0,1,0
1,1,3909794,2022-04-28 15:38:00,0.88,21.0,1.0,0.0,NaN,27.3,49.0,...,300.45,Bajo,0,0,1,0,0,0,1,0
2,2,3909774,2022-04-28 15:37:00,0.88,21.0,1.0,NaN,4.3,27.3,49.6,...,300.45,NaN,0,0,1,0,0,0,1,0
3,3,3909754,2022-04-28 15:36:00,0.88,21.0,NaN,2.4,3.0,NaN,49.6,...,NaN,Bajo,0,0,1,0,0,0,1,0
4,4,3909734,2022-04-28 15:35:00,NaN,NaN,1.0,2.6,3.7,27.3,49.4,...,300.45,Bajo,0,0,0,0,0,0,0,0

Revisamos la dimesión del conjunto de datos usando la función `shape` para ver que se cargaron todos los datos.

In [19]:
# dimensión del dataframe (rows, columns)
df_can.shape

(60, 25)

#### 1. Quitar columnas innecesarias
Se debe limpiar el conjunto de datos para eliminar las columnas que no son informativas para la visualización; en este caso quitaremos las columnas id, timestamp, idnodo, 20.836363636363636, Unnamed: 0.

In [20]:
df_can.drop(['id', 'timestamp', 'idnodo', 'Unnamed: 0','temp(K)'], axis=1, inplace=True)

# mostrar los primeros cinco elementos para ver cómo se cambió el dataframe
df_can.head()

,pmv,ppd,co2,pm25,pm10,temp,hr,voc,co,no2,c2h5ch,pm25-clasificacion,disconformidad-19%,disconformidad-20%,disconformidad-21%,disconformidad-22%,disconformidad-19%.1,disconformidad-20%.1,disconformidad-21%.1,disconformidad-22%.1
0,0.88,21.0,1.0,0.0,-1.0,27.3,50.0,0.906977,0.027368,0.533981,0.990385,Bajo,0,0,1,0,0,0,1,0
1,0.88,21.0,1.0,0.0,NaN,27.3,49.0,0.930233,0.028421,0.553398,1.000000,Bajo,0,0,1,0,0,0,1,0
2,0.88,21.0,1.0,NaN,4.3,27.3,49.6,0.930233,0.027544,0.543689,1.000000,NaN,0,0,1,0,0,0,1,0
3,0.88,21.0,NaN,2.4,3.0,NaN,49.6,0.930233,0.027544,0.533981,1.000000,Bajo,0,0,1,0,0,0,1,0
4,NaN,NaN,1.0,2.6,3.7,27.3,49.4,0.930233,0.027368,0.543689,1.000000,Bajo,0,0,0,0,0,0,0,0

#### 2. Renombrar Columnas
A continuación debemos cambiar el nombre de algunas de las columnas para que tengan más sentido y facilitar el análisis.

In [21]:
df_can.rename(columns={'OdName':'Country', 'AreaName':'Continent','RegName':'Region', 'temp':'Temperatura'}, inplace=True)

# mostrar los primeros cinco elementos para ver cómo se cambió el dataframe
df_can.head()

,pmv,ppd,co2,pm25,pm10,Temperatura,hr,voc,co,no2,c2h5ch,pm25-clasificacion,disconformidad-19%,disconformidad-20%,disconformidad-21%,disconformidad-22%,disconformidad-19%.1,disconformidad-20%.1,disconformidad-21%.1,disconformidad-22%.1
0,0.88,21.0,1.0,0.0,-1.0,27.3,50.0,0.906977,0.027368,0.533981,0.990385,Bajo,0,0,1,0,0,0,1,0
1,0.88,21.0,1.0,0.0,NaN,27.3,49.0,0.930233,0.028421,0.553398,1.000000,Bajo,0,0,1,0,0,0,1,0
2,0.88,21.0,1.0,NaN,4.3,27.3,49.6,0.930233,0.027544,0.543689,1.000000,NaN,0,0,1,0,0,0,1,0
3,0.88,21.0,NaN,2.4,3.0,NaN,49.6,0.930233,0.027544,0.533981,1.000000,Bajo,0,0,1,0,0,0,1,0
4,NaN,NaN,1.0,2.6,3.7,27.3,49.4,0.930233,0.027368,0.543689,1.000000,Bajo,0,0,0,0,0,0,0,0

#### 3. Etiquetas en mismo tipo
Para mantener la coherencia, asegúrese de que todas las etiquetas de las columnas sean de tipo cadena de caracteres o string.

In [22]:
# examinar los tipos de etiquetas de las columnas

all(isinstance(column, str) for column in df_can.columns)

True

## Visualizando Datos usando Matplotlib
Una vez preparado nuestro set de datos podemos proceder a visualizar nuestros datos con la herramienta **Matplotlib**, a continuación revisaremos los distintos tipos de gráficos que podemos utilizar para vizualizar nuestros datos.

#### Importar Matplotlib
Importar la biblioteca `matplotlib`.

In [24]:
# se hará uso del despliegue de figuras en línea o dentro de Jupyter Notebook
%matplotlib inline

import matplotlib as mpl
import matplotlib.pyplot as plt

# Opcional: Aplica un estilo similar a ggplot
mpl.style.use('ggplot')  

# verificar la versión de Matplotlib
print('Matplotlib version: ', mpl.__version__)

Matplotlib version:  3.4.3

### Gráfico de Áreas<a id="6"></a>

In [46]:
# df_can.sort_values(['Total'], ascending=False, axis=0, inplace=True)

# # obtener las 5 mejores entradas
# df_top5 = df_can.head()

# # transponer el dataframe
# df_top5 = df_top5[pmv].transpose()

# df_top5.head()