Lo primero que hay que realizar es la instalación de **openpyxl** (antiguamente conocido como **xlrd**) que es un módulo que **pandas** requiere para leer archivos Excel.

In [36]:
%pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\niko_\appdata\local\programs\python\python310\lib\site-packages (3.0.10)
Requirement already satisfied: et-xmlfile in c:\users\niko_\appdata\local\programs\python\python310\lib\site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 22.0.4; however, version 22.1.1 is available.
You should consider upgrading via the 'c:\Users\niko_\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

A continuación, se procederá a cargar los dos módulos claves para hacer análisis de datos **pandas** y
 **numpy**.

In [37]:
import numpy as np  # util para computación científica en Python
import pandas as pd # biblioteca que contienen la estructura de datos de uso principal

Ahora, se carga el conjunto de datos con los datos del excel usando el método de **pandas** `read_csv`.

In [38]:
path = "Datos_procesados.csv"
df_can = pd.read_csv(path, header = 0)

# df_can = pd.read_excel(
#     'Datos_procesados.csv',
#     sheet_name='datos',
#     skiprows=range(20),
#     skipfooter=2)

print('Datos leídos y cargados en un dataframe de pandas!')

Datos leídos y cargados en un dataframe de pandas!

Mostrar las primeras 5 filas del conjunto de datos usando la función `head()`.

In [39]:
df_can.head()

,Unnamed: 0,id,timestamp,pmv,ppd,co2,pm25,pm10,hr,voc,...,no2,c2h5ch,idnodo,temp(K),pm25-clasificacion,disconformidad-19%,disconformidad-20%,20.836363636363636,disconformidad-21%,disconformidad-22%
0,0,3909814,2022-04-28 15:40:00,0.880000,21.000000,1.00000,0.000,-1.000000,50.0,0.906977,...,0.533981,0.990385,fdba37,300.450000,Bajo,0,0,0,1,0
1,1,3909794,2022-04-28 15:38:00,0.880000,21.000000,1.00000,0.000,6.891071,49.0,0.930233,...,0.553398,1.000000,fdba37,300.450000,Bajo,0,0,0,1,0
2,2,3909774,2022-04-28 15:37:00,0.880000,21.000000,1.00000,3.406,4.300000,49.6,0.930233,...,0.543689,1.000000,fdba37,300.450000,Mediano,0,0,0,1,0
3,3,3909754,2022-04-28 15:36:00,0.880000,21.000000,0.98257,2.400,3.000000,49.6,0.930233,...,0.533981,1.000000,fdba37,300.792857,Bajo,0,0,0,1,0
4,4,3909734,2022-04-28 15:35:00,0.866792,20.836364,1.00000,2.600,3.700000,49.4,0.930233,...,0.543689,1.000000,fdba37,300.450000,Bajo,0,0,1,0,0

In [40]:
# dimensión del dataframe (rows, columns)
df_can.shape

(60, 21)

#### 1. Limpiar el conjunto de datos para eliminar las columnas que no son informativas para la visualización (id, timestamp, idnodo, 20.836363636363636, Unnamed: 0).

In [41]:
df_can.drop(['id', 'timestamp', 'idnodo', '20.836363636363636', 'Unnamed: 0'], axis=1, inplace=True)

# mostrar los primeros cinco elementos para ver cómo se cambió el dataframe
df_can.head()

,pmv,ppd,co2,pm25,pm10,hr,voc,co,no2,c2h5ch,temp(K),pm25-clasificacion,disconformidad-19%,disconformidad-20%,disconformidad-21%,disconformidad-22%
0,0.880000,21.000000,1.00000,0.000,-1.000000,50.0,0.906977,0.027368,0.533981,0.990385,300.450000,Bajo,0,0,1,0
1,0.880000,21.000000,1.00000,0.000,6.891071,49.0,0.930233,0.028421,0.553398,1.000000,300.450000,Bajo,0,0,1,0
2,0.880000,21.000000,1.00000,3.406,4.300000,49.6,0.930233,0.027544,0.543689,1.000000,300.450000,Mediano,0,0,1,0
3,0.880000,21.000000,0.98257,2.400,3.000000,49.6,0.930233,0.027544,0.533981,1.000000,300.792857,Bajo,0,0,1,0
4,0.866792,20.836364,1.00000,2.600,3.700000,49.4,0.930233,0.027368,0.543689,1.000000,300.450000,Bajo,0,0,0,0

#### 2. Cambiar el nombre de algunas de las columnas para que tengan sentido.

In [42]:
df_can.rename(columns={'OdName':'Country', 'AreaName':'Continent','RegName':'Region'}, inplace=True)

# mostrar los primeros cinco elementos para ver cómo se cambió el dataframe
df_can.head()

,pmv,ppd,co2,pm25,pm10,hr,voc,co,no2,c2h5ch,temp(K),pm25-clasificacion,disconformidad-19%,disconformidad-20%,disconformidad-21%,disconformidad-22%
0,0.880000,21.000000,1.00000,0.000,-1.000000,50.0,0.906977,0.027368,0.533981,0.990385,300.450000,Bajo,0,0,1,0
1,0.880000,21.000000,1.00000,0.000,6.891071,49.0,0.930233,0.028421,0.553398,1.000000,300.450000,Bajo,0,0,1,0
2,0.880000,21.000000,1.00000,3.406,4.300000,49.6,0.930233,0.027544,0.543689,1.000000,300.450000,Mediano,0,0,1,0
3,0.880000,21.000000,0.98257,2.400,3.000000,49.6,0.930233,0.027544,0.533981,1.000000,300.792857,Bajo,0,0,1,0
4,0.866792,20.836364,1.00000,2.600,3.700000,49.4,0.930233,0.027368,0.543689,1.000000,300.450000,Bajo,0,0,0,0

#### 3. Para mantener la coherencia, asegúrese de que todas las etiquetas de las columnas sean de tipo cadena de caracteres o string.

In [43]:
# examinar los tipos de etiquetas de las columnas

all(isinstance(column, str) for column in df_can.columns)

True

#### Establecer el nombre del país como índice. Esto es útil para buscar rápidamente países utilizando el método .loc.

In [44]:
df_can.set_index('co2', inplace=True)

# mostrar los primeros cinco elementos para ver cómo se cambió el dataframe
df_can.head()

,pmv,ppd,pm25,pm10,hr,voc,co,no2,c2h5ch,temp(K),pm25-clasificacion,disconformidad-19%,disconformidad-20%,disconformidad-21%,disconformidad-22%
co2,,,,,,,,,,,,,,,
1.00000,0.880000,21.000000,0.000,-1.000000,50.0,0.906977,0.027368,0.533981,0.990385,300.450000,Bajo,0,0,1,0
1.00000,0.880000,21.000000,0.000,6.891071,49.0,0.930233,0.028421,0.553398,1.000000,300.450000,Bajo,0,0,1,0
1.00000,0.880000,21.000000,3.406,4.300000,49.6,0.930233,0.027544,0.543689,1.000000,300.450000,Mediano,0,0,1,0
0.98257,0.880000,21.000000,2.400,3.000000,49.6,0.930233,0.027544,0.533981,1.000000,300.792857,Bajo,0,0,1,0
1.00000,0.866792,20.836364,2.600,3.700000,49.4,0.930233,0.027368,0.543689,1.000000,300.450000,Bajo,0,0,0,0

Importar la biblioteca `matplotlib`.

In [45]:
# se hará uso del despliegue de figuras en línea o dentro de Jupyter Notebook
%matplotlib inline

import matplotlib as mpl
import matplotlib.pyplot as plt

mpl.style.use('ggplot')  # opcional: para estilo similar a ggplot

# verificar la versión de Matplotlib
print('Matplotlib version: ', mpl.__version__)

Matplotlib version:  3.5.2

# Gráfico de Áreas<a id="6"></a>

In [46]:
# df_can.sort_values(['Total'], ascending=False, axis=0, inplace=True)

# # obtener las 5 mejores entradas
# df_top5 = df_can.head()

# # transponer el dataframe
# df_top5 = df_top5[pmv].transpose()

# df_top5.head()